
<main class="col-md-12 col-sm-12 col-xs-12">

    <div class="row heading1">
        <span>Dashboard</span>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup2" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup2">
            <div class="navbar-nav">
                <ul class="navbar-nav mr-auto quickMenu">
                    <li class="nav-item ">
                        <a href="" data-toggle="tooltip" data-placement="bottom" title="Manage Employees">
                            <img src="images/manageemployees.png" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-toggle="tooltip" data-placement="bottom" title="Manage Teams">
                            <img src="images/manageteams.png" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-toggle="tooltip" data-placement="bottom" title="Manage Projects">
                            <img src="images/manageprojects.png" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-toggle="tooltip" data-placement="bottom" title="Manage Invoices">
                            <img src="images/manageinvoices.png" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-toggle="tooltip" data-placement="bottom" title="Manage Customers">
                            <img src="images/managecustomers.png" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-toggle="tooltip" data-placement="bottom" title="General Settings">
                            <img src="images/generalsettings.png" alt="">
                        </a>
                    </li>

                </ul>

            </div>
        </div>

    </nav>

    <div class="row heading2">
        <span>Absence Report</span>
    </div>

    <div class="row">
        <div class="col-md-3 absenceReportInfo">

            <h6>Today's Absences</h6>
            <span>March 19th</span>
            <h2>12</h2>

        </div>
        <div class="col-md-4" style="background-color: lightgray; border: 20px solid white; height:300px;"></div>
        <div class="col-md-5" style="background-color: lightgray; border-top:20px solid white; border-bottom:20px solid white;height:300px;"></div>
    </div>

    <div class="row heading2">
        <span>My Activity</span>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">

            <div class="row">
                <ul class="list-inline myActivityOverview mr-auto">
                    <li class="col-md-2 list-inline-item">
                        <h6 style="font-weight: bolder; margin-top:-15px;">THIS WEEK</h6>
                    </li>
                    <li class=" col-md-3 list-inline-item">
                        <div class="myActivityItem">
                            <img src="images/alarm-clock.png" alt="">
                            <h3>24</h3>
                            <span>Working hours</span>
                        </div>
                    </li>
                    <li class="col-md-3 list-inline-item">
                        <div class="myActivityItem">
                            <img src="images/home.png" alt="">
                            <h3>0</h3>
                            <span style="margin-top: 13px;">Absences</span>
                        </div>
                    </li>
                    <li class="col-md-3 list-inline-item">
                        <div class="myActivityItem">
                            <img src="images/overtime.png" alt="">
                            <h3>0</h3>
                            <span>Overtime hours</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-12 cardBox">
                        <h5>Engagement</h5>
                        <div style="background-color: lightgray; height:200px;"></div>
                    </div>
                    <div class="col-md-12 cardBox">
                        <h5>Projects</h5>
                        <div style="background-color: lightgray; height:200px;"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 cardBox">
                        <h5>Tasks</h5>
                        <ul class="list-inline">
                            <li class="list-inline-item task">
                                <span class="taskName">Seed database with mock data</span>
                                <span class="pull-right taskDate">Yesterday</span>
                            </li>
                            <li class="list-inline-item task">
                                <span class="taskName">Draw landing page wireframes</span>
                                <span class="pull-right taskDate">2 days ago</span>
                            </li>
                            <li class="list-inline-item task">
                                <span class="taskName">Create mockups</span>
                                <span class="pull-right taskDate">3 days ago</span>
                            </li>
                            <li class="list-inline-item task">
                                <span class="taskName">Choose color scheme and fonts</span>
                                <span class="pull-right taskDate">4 days ago</span>
                            </li>


                        </ul>
                        <div style="background-color: lightgray; height:370px;"></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="col-md-12  cardBox2">
                        <h4>Days</h4>

                        <ul class="list-inline">
                            <li class="list-inline-item daysItem">
                                <img src="images/vacation.png" alt="" style="width:50px; height:50px;">
                                <h2>12</h2>
                                <span>Vacation days</span>
                            </li>
                            <li class="list-inline-item daysItem">
                                <img src="images/employed.png" alt="" style="width:50px; height:50px;">
                                <h2>32</h2>
                                <span>Months Employed</span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>