<main class="col-md-12">

    <div class="row heading1">
        <span>Projects</span>
    </div>

    <div class="row">
        <div class="col-md-10 projectsContainer">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <h2>TimeKeeper</h2>
                        </div>
                        <div class="col-md-4">
                            <button class="col-md-5 btn btn-primary" >EDIT</button>
                            <button class="col-md-5 btn btn-danger">DELETE</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="clientInfo">
                        <img src="images/picture.png" alt="" style="width:4.01vw; height: 4.01vw; border-radius: 50%; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                        <div style="display: flex; flex-direction: column; align-items:flex-start; justify-content: center; margin-left:15px;">
                            <span>Client:</span>
                            <h6>Mistral</h6>
                        </div>
                    </div>
                    <ul style="margin-top:40px;">
                        <li><div class="Info">
                            <img src="images/calendar.png" alt="" style="width:2.01vw; height: 2.01vw; ">
                            <div style="display: flex; flex-direction: column; align-items:flex-start; justify-content: center; margin-left:15px;">
                                <span>Begin date:</span>
                                <h6>15/01/2018</h6>
                            </div>
                        </div></li>
                        <li><div class="Info">
                            <img src="images/price-tag.png" alt="" style="width:2.01vw; height: 2.01vw; ">
                            <div style="display: flex; flex-direction: column; align-items:flex-start; justify-content: center; margin-left:15px;">
                                <span>Pricing type:</span>
                                <h6>Hourly</h6>
                            </div>
                        </div></li>
                    </ul>



                </div>
                <div class="col-md-4">
                    <ul class="teamAssigned scrollbar scrollbar-primary">
                        <h6>Team: <i>Cherokee</i></h6>
                        <li>
                            <div class="Info" style="margin-left:0;">
                                <img src="images/user.png" alt="" style="width:3.01vw; height: 3.01vw; ">
                                <div style="display: flex; flex-direction: column; align-items:flex-start; justify-content: center; margin-left:15px;">
                                    <b>John Doe</b>
                                    <bdi>Software Developer</bdi>
                                </div>
                        </li>
                        <li>
                            <div class="Info" style="margin-left:0;">
                                <img src="images/user.png" alt="" style="width:3.01vw; height: 3.01vw; ">
                                <div style="display: flex; flex-direction: column; align-items:flex-start; justify-content: center; margin-left:15px;">
                                    <b>Joanna Doe</b>
                                    <bdi>Project Manager</bdi>
                                </div>
                        </li>
                        <li>
                            <div class="Info" style="margin-left:0;">
                                <img src="images/user.png" alt="" style="width:3.01vw; height: 3.01vw; ">
                                <div style="display: flex; flex-direction: column; align-items:flex-start; justify-content: center; margin-left:15px;">
                                    <b>Mark Smith</b>
                                    <bdi>UI/UX Designer</bdi>
                                </div>
                        </li>
                        <li>
                            <div class="Info" style="margin-left:0;">
                                <img src="images/user.png" alt="" style="width:3.01vw; height: 3.01vw; ">
                                <div style="display: flex; flex-direction: column; align-items:flex-start; justify-content: center; margin-left:15px;">
                                    <b>Bill Black</b>
                                    <bdi>QA Engineer</bdi>
                                </div>
                        </li>

                    </ul>
                </div>
                <div class="col-md-4 description">
                    <span>Description:</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium adipisci aliquam asperiores aspernatur blanditiis consectetur consequuntur dignissimos distinctio dolorum, eligendi esse excepturi facilis fugiat fugit ipsam iure laudantium maxime mollitia non nostrum nulla obcaecati odio omnis pariatur provident qui quia quis repudiandae sequi sit tempore totam, veniam. Alias debitis earum laboriosam quae veritatis voluptatibus? Eos ex libero neque quibusdam.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="totalHoursGraph">
                                <img src="images/graph.png" alt="" style="width:350px;">
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-xs-12">
                            <div class="Info" style="display: flex; flex-direction: column; align-items:flex-start; justify-content: center;">
                                <span>Amount:</span>
                                <h6 style="font-weight: 900; font-size:23px; color:#474747;">$39900.00</h6>
                            </div>
                            <div class="Info" style="display: flex; flex-direction: column; align-items:flex-start; justify-content: center;">
                                <span>Amount per capita:</span>
                                <h6 style="font-weight: 900; font-size:23px; color:#474747;">$9997.50</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="images/graph2.png" alt="" style="width:300px; padding-right:40px;">
                </div>
            </div>


        </div>
        <div class="col-md-2 d-sm-none d-xs-none d-md-block projectSelect">
            <div class="row" style="padding:0;">
                <div class="col-md-12">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item"><span>ALL PROJECTS</span></li>
                        <li class="nav-item"><button class="btn btn-success" style="width:90%; margin: 0 0 10px 5%;">ADD TEAM</button></li>
                        <li class="nav-item"><a class="nav-link active"href="#">
                            <strong>TimeKeeper</strong><br>
                        </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href=""><strong>Falcon Project</strong><br>
                        </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href=""><strong>Dakota</strong><br>
                        </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href=""><strong>Apache</strong><br>
                        </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href=""><strong>Navajo</strong><br>
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>