<main class="col-md-12 col-sm-12 col-xs-12"style="">

    <div class="row heading1">
        <span>Teams</span>
    </div>

    <div class="row">
        <div class="col-md-10 col-sm-12 col-xs-12 teamsContainer" style="margin-left: 4%;">

            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <img src="img/picture.png" alt="" style="width:10.54vw; height:10.54vw; border-radius: 50%; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                    </div>

                    <div class="row">
                        <span><bdi>4&nbsp;</bdi>Team members</span>
                        <button class="btn btn-success">ADD MEMBER</button>
                        <ul class="list-group teamMemberList scrollbar scrollbar-primary">
                            <li class="list-group-item"></li>
                            <li class="list-group-item">
                                <div class="row">
                                    <img src="img/picture.png" alt="" style="width:30px; height:30px; border-radius: 50%; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">

                                    <div class="teamMember">
                                        <span>John Doe</span>
                                        <i>Software Developer</i>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <img src="img/picture.png" alt="" style="width:30px; height:30px; border-radius: 50%; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">

                                    <div class="teamMember">
                                        <span>John Doe</span>
                                        <i>Software Developer</i>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <img src="img/picture.png" alt="" style="width:30px; height:30px; border-radius: 50%; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">

                                    <div class="teamMember">
                                        <span>John Doe</span>
                                        <i>Software Developer</i>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <img src="img/picture.png" alt="" style="width:30px; height:30px; border-radius: 50%; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">

                                    <div class="teamMember">
                                        <span>John Doe</span>
                                        <i>Software Developer</i>
                                    </div>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row teamInfo">
                        <h2>Team Cherokee</h2>
                        <span>Status: <bdi>Active</bdi></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Dolorum earum et hic impedit ipsum laboriosam nobis nostrum
                            quasi quibusdam voluptate.</p>
                    </div>

                    <div class="row">
                        <span style="font-size:14px;">Team Lead:</span>
                        <div style="display:flex; flex-direction: row; margin-left:15px;">
                            <img src="img/picture.png" alt="" style="width:30px; height:30px; border-radius: 50%; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">

                            <div class="teamMember">
                                <span>John Doe</span>
                                <i>Software Developer</i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 projectsList">
                            <ul>
                                <h3>Projects</h3>
                                <li>TimeKeeper <span class="projectActive">Active</span></li>
                                <li>Falcon Rocket <span>2 months ago</span></li>
                                <li>Manhattan Project <span>5 months ago</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-left: 5%;">
                    <button class="col-md-5 btn btn-primary" >EDIT</button>
                    <button class="col-md-5 btn btn-danger">DELETE</button>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-2 col-sm-12 col-xs-12 teamSelect" >
        <div class="row" style="padding:0;">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item"><span>ALL TEAMS</span></li>
                    <li class="nav-item"><button class="btn btn-success" style="width:90%; margin: 0 0 10px 5%;">ADD TEAM</button></li>
                    <li class="nav-item"><a class="nav-link active"href="#">
                        <strong>Cherokee</strong><br>
                        <bdi>4 members</bdi></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href=""><strong>Sioux</strong><br>
                        <bdi>4 members</bdi></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href=""><strong>Dakota</strong><br>
                        <bdi>4 members</bdi></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href=""><strong>Apache</strong><br>
                        <bdi>4 members</bdi></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href=""><strong>Navajo</strong><br>
                        <bdi>4 members</bdi></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>

</main>