<div class="modal-header">
    <h3 class="modal-title" id="modal-title">ADD NEW PROJECT</h3>
</div>

<div class="modal-body" id="modal-body">
    <form name="valForm">

        <input type="hidden" ng-model="project.id">

        <div class="row">
            <div class="col-md-4 label"><span style="color:red;">* </span>Name:</div>
            <div class="col-md-6"><input name="valName" type="text" class="form-control" ng-model="project.name" placeholder="(ex. Moonlight)" required></div>
        </div>

        <div class="row">
            <div class="col-md-4 label"><span style="color:red;">* </span>Customer:</div>
            <div class="col-md-6">
                <select ng-model="project.customer.Id" class="form-control"
                    ng-options="customer.id as customer.name for customer in customers"
                    ng-value="customer.id" required><option>{{customer.name}}</option>
                    <option value="">-- choose an option --</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 label"><span style="color:red;">* </span>Team:</div>
            <div class="col-md-6">
                <select ng-model="project.team.Id" class="form-control"
                        ng-options="team.id as team.name for team in teams"
                        ng-value="team.id" required><option>{{team.name}}</option>
                    <option value="">-- choose an option --</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 label"><span style="color:red;">* </span>Amount:</div>
            <div class="col-md-6"><input name="valAmount" type="number" class="form-control" ng-model="project.amount" placeholder="(ex. 10000)" required></div>
        </div>

        <div class="row">
            <div class="col-md-4 label"><span style="color:red;">* </span>Description:</div>
            <div class="col-md-6"><textarea name="valDesc" style="resize:vertical; min-height:100px; max-height:150px;" type="text" class="form-control" ng-model="project.description" placeholder="Add description.." required></textarea></div>
        </div>

        <div class="row">
            <div class="col-md-4 label"><span style="color:red;">* </span>Begin Date:</div>
            <div class="col-md-6"><input name="valBD" type="date" class="form-control" ng-model="project.beginDate" required></div>
        </div>

        <div class="row">
            <div class="col-md-4 label">End Date:</div>
            <div class="col-md-6"><input type="date" class="form-control" ng-model="project.endDate"></div>
        </div>

        <div class="row">
            <div class="col-md-4 label">Monogram:</div>
            <div class="col-md-6"><input type="url" class="form-control" ng-model="project.monogram" placeholder="Paste Monogram Url"></div>
        </div>

        <div class="row">
            <div class="col-md-4 label"><span style="color:red;">* </span>Pricing:</div>
            <div class="col-md-6">
                <select ng-model="project.pricing" class="form-control" required>
                    <option value="">-- choose an option --</option>
                    <option ng-model="project.pricing" value="HourlyRate">Hourly Rate</option>
                    <option ng-model="project.pricing" value="PerCapitaRate">Per Capita Rate</option>
                    <option ng-model="project.pricing" value="FixedPrice">Fixed Price</option>
                    <option ng-model="project.pricing" value="NotBillable">Not Billable</option>
                </select>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4 label"><span style="color:red;">* </span>Status:</div>
            <div class="col-md-6">
                <select ng-model="project.status" class="form-control" required>
                    <option value="">-- choose an option --</option>
                    <option ng-model="project.status" value="InProgress">In Progress</option>
                    <option ng-model="project.status" value="OnHold">On Hold</option>
                    <option ng-model="project.status" value="Finished">Finished</option>
                    <option ng-model="project.status" value="Canceled">Canceled</option>
                </select>
            </div>
        </div>

    </form>

    <div class="row" style="margin-top: 5px;">
            <div class="col-md-12 text-center"><span style="color:red;">* -> Required fields!</span></div>
    </div>
</div>

<div class="row modal-footer">
    <a href="" ng-click="add(project)" class="col-md-5"><button class="btn mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin-right:10px; background-color: #3cba54;"
        ng-disabled="valForm.valName.$touched && valForm.valName.$invalid ||
        valForm.valAmount.$touched && valForm.valAmount.$invalid ||
        valForm.valDesc.$touched && valForm.valDesc.$invalid ||
        valForm.valBD.$touched && valForm.valBD.$invalid" >SAVE</button></a>
    <a href="" ng-click="cancel(project)" class="col-md-5"><button class="mdl-button mdl-js-button mdl-button--raised">CANCEL</button></a>
</div>