.loginForm {

    display: flex;
    justify-content: center;
    margin-left: -20%;
}


/*!* Button *!*/

/*.button {*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*padding: 12px 24px;*/
    /*//margin: .3em 0 1em 0;*/
    /*width: 100%;*/
    /*vertical-align: middle;*/
    /*color: #fff;*/
    /*font-size: 16px;*/
    /*line-height: 20px;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*text-align: center;*/
    /*letter-spacing: 1px;*/
    /*background: transparent;*/
    /*border: 0;*/
    /*border-bottom: 2px solid #1c3a57;*/
    /*cursor: pointer;*/
    /*transition: all 0.15s ease;*/
/*}*/
/*.button:focus { outline: 0; }*/


/*!* Button modifiers *!*/

/*.buttonBlue {*/
    /*background: #2b5585;*/
    /*text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);*/
/*}*/

/*.buttonBlue:hover { background: #357bd8; }*/


/*!* Ripples container *!*/

/*.ripples {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*overflow: hidden;*/
    /*background: transparent;*/
/*}*/


/*!* Ripples circle *!*/

/*.ripplesCircle {*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*opacity: 0;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-radius: 50%;*/
    /*background: rgba(255, 255, 255, 0.25);*/
/*}*/

/*.ripples.is-active .ripplesCircle {*/
    /*animation: ripples .4s ease-in;*/
/*}*/


/*!* Ripples animation *!*/

/*@keyframes ripples {*/
    /*0% { opacity: 0; }*/

    /*25% { opacity: 1; }*/

    /*100% {*/
        /*width: 200%;*/
        /*padding-bottom: 200%;*/
        /*opacity: 0;*/
    /*}*/
/*}*/


/*.colors {*/

    /*display: grid;*/
    /*position:fixed;*/
    /*grid-template-columns: repeat(4,1fr);*/
    /*left:0;*/
    /*bottom:0;*/
    /*width: 100%;*/

    /*height:10px;*/

/*}*/

/*.colors > div:nth-child(1) {*/

    /*background-color: #5BB7D6;*/
/*}*/

/*.colors > div:nth-child(2) {*/

    /*background-color: #00AE8E;*/
/*}*/

/*.colors > div:nth-child(3) {*/

    /*background-color: #6F1036;*/
/*}*/

/*.colors > div:nth-child(4) {*/

    /*background-color: #FAA61A;*/
/*}*/

