body {
    font-family: "Roboto", sans-serif;
//font-size: 11pt;
    margin: 0;
    padding-top: 78px;
    padding-bottom: 32px;
}

header, footer {
    position: fixed;
    color: white;
    background-color: #343a40;
    width: 100%;
    z-index: 999;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.3);

}

header {
    top: 0;
}

footer {
    bottom: 0;
}

hr {
    border: 0;
    margin: 12px 0;
    height: 3px;
    background-color: #00C;
    opacity: 0.5;
}

tr.noBorder th {
    border-top: 0;
//border-collapse: collapse;
}

.btn {

    border-radius: 1px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.3);
}



.grid {
    background-color: #EEE;
}

.grid:nth-child(odd) {
    background-color: #EFE;
}

.label {
    text-align: right;
    padding: 8px;
    color: black;
}

.custFrame {
    display: table;
    float: left;
    margin: 6px;
    padding: 8px;
    border: solid blue 2px;
}

.custImage {
    width: 120px;
    float: left;
    margin: 0 12px;
}

.custData {
    float: left;
}

.custTitle {
    font-size: 1.2em;
}

.custNav {
    float: right;
}

.modal-header {
    background-color: #369;
    color: white;
    border: solid 1px #369;
}

.modal-footer {
    background-color: #369;
    border: solid 1px #369;
}

.calendar {
    width: 574px;
}

.day {
    float: left;
    width: 72px;
    height: 72px;
    margin: 4px;
    padding: 4px;
    border: 1px solid black;
}

.dayhours {
    float: right;
    font-size: 2.5em;
}

#tableHeaderProjects{
    border: 0px solid black;
    border-collapse:collapse;
    text-indent:10px;
}
#tableHeaderProjects th, #tableHeaderProjects td{
    width:200px;
}
#tableProjectsWidget{
    border: 0px solid black;
    border-collapse:collapse;
    text-indent:10px;
}
#tableProjectsWidget td{
    width:200px;
    border-right: 1px solid #eee;
}
#tableProjectsWidget td:first-of-type, #tableProjectsWidget td:last-of-type{
    border-left: 1px solid #eee;
}

.workingday { background-color: #5bc0de; }
.publicholiday { background-color: orange; }
.otherabsence { background-color: yellow; }
.religiousday { background-color: green; }
.sickleave { background-color: red; }
.vacation { background-color: teal; }
.businessabsence { background-color: blue; }
.empty { background-color: white; }
.weekend { background-color: indianred; }
.future { background-color: lightgrey; }
.spaceholder { background-color: transparent; border: 0; }

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: white;
    opacity: .75;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -60px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation:spin 2s linear infinite;
}

@keyframes spin {
    0% {transform : rotate(0deg);}
    100% {transform: rotate(360deg);}
}