<div class="heading1">
        <h2 style="margin-top:0;">Projects</h2>
    </div>
<div class="row" style="margin:-15px 0 15 0; display:flex; align-items: flex-end">
    
    <div class="col-md-8">
        <form ng-submit="filter(fil)">
            <div class="group" style="left:0;margin-bottom:0;">
                <input type="text" ng-model="fil" id="searchProj" placeholder="Enter project name"><span class="bar"></span><span class="highlight"></span>
                <label for="searchProj">Search Project</label>
                <!--<button type="button" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-button&#45;&#45;colored">Search</button>&nbsp;-->
            </div>
            <div>
                &nbsp;&nbsp;
            </div>
        </form>
    </div>
    <div class="offset-md-1 col-md-3">
            <a href="" ng-click="add()"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="margin-bottom:20px;background-color: #3cba54;"><b>ADD PROJECT</b></button></a>
        </div>
</div>

<div>
    <table class="table" style="margin-bottom:20px;">
        <tr>
            <th>Project</th>
            <th>Team</th>
            <th>Customer</th>
            <th></th>
        </tr>
        <tr ng-repeat="project in projects | filter: fil">
            <td ng-click="view(project)">{{project.name}}</td>
            <td ng-click="view(project)">{{project.team.name}}</td>
            <td ng-click="view(project)">{{project.customer.name }}</td>
            <td>
                <div class="listButtons">
                    <a href="" ng-click="edit(project)"><button class="col-md-3 btn mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin-right:10px;">EDIT</button></a>
                    <a href="" ng-click="delete(project)"><button class="col-md-3 btn mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="background-color: #db3236;">DELETE</button></a>
                </div>
            </td>
        </tr>
    </table>
</div>