<div class="modal-header">
    <h3 class="pull-left modal-title">{{day.employee.name}} : {{day.id}}</h3>
    <input type="hidden" ng-model="day.id">
    <input type="hidden" ng-model="day.employee.id">
    <div class="pull-right" style="margin-left:18px;">
        <select class="btn btn-default"
                ng-model="day.type"
                ng-options="dayType.indexOf(ind) as ind for ind in dayType"
                ng-change="typeChanged()">

        </select>
    </div>
    <h3 class="pull-right modal-title">{{day.date.substring(0,10)}}</h3>
</div>

<div class="modal-body" id="modal-body" ng-show="day.type==1">
    <div class="row">
        <div class="col-md-4">Project</div>
        <div class="col-md-4">Description</div>
        <div class="col-md-1">Time</div>
        <div class="col-md-1">Save</div>
        <div class="col-md-1">Delete</div>
    </div>
    <div class="row" style="padding:2px;" ng-repeat="task in day.details">
        <div ng-hide="task.deleted">
            <input type="hidden" ng-model="task.id">
            <div class="col-md-4">
                <select ng-model="task.project.id" class="form-control"
                        ng-options="project.id as project.name for project in projects"
                        ng-value="project.id">{{project.name}}></select>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="task.description">
            </div>
            <div class="col-md-1">
                <input type="text" class="form-control" ng-model="task.hours">
            </div>
            <div class="col-md-1 text-center">
                <i class="fa fa-save fa-2x text-success" ng-click="upd(task, $index)"></i>
            </div>
            <div class="col-md-1 text-center">
                <i class="fa fa-trash fa-2x text-danger" ng-click="del($index)"></i>
            </div>
            <div class="col-md-1">{{$index}}</div>
        </div>
    </div>
    <div class="row" style="padding:2px;">
        <input type="hidden" ng-model="newTask.id">
        <div class="col-md-4">
            <select ng-model="newTask.project.id" class="form-control"
                    ng-options="project.id as project.name for project in projects"
                    ng-value="project.id">{{project.name}}></select>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model="newTask.description">
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control" ng-model="newTask.hours">
        </div>
        <div class="col-md-1 text-center">
            <i class="fa fa-save fa-2x text-success" ng-click="add(newTask)"></i>
        </div>
    </div>
</div>
<div class="modal-footer">
    <h3 class="pull-left modal-title">Total: {{day.hours}}<sup>h</sup></h3>
    <button class="btn btn-primary" type="button" ng-click="ok()"><i class="fa fa-save fa-2x"></i>&nbsp;Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()"><i class="fa fa-close fa-2x"></i>&nbsp;Close</button>
</div>